# Jupyter Notebook
.ipynb_checkpoints

# Environments
venv/

# IDE folders
.vscode/

# Tests files and folders
tests.py
t.ipynb
Autoencoder_old.ipynb

# Byte-compiled files
__pycache__/
losses/__pycache__/
models/__pycache__/
