# Jupyter Notebook
.ipynb_checkpoints

# Environments
venv/

# IDE folders
.vscode/

# Tests files and folders
test.py
tests.ipynb

# Byte-compiled files
__pycache__/

# Other files
.DS_Store
.data/
mini_wiki_cats.jsonl
